certifi==2023.5.7
charset-normalizer==3.1.0
dataclass-wizard==0.22.2
httpretty==1.1.4
idna==3.4
requests==2.31.0
toml==0.10.2
types-toml==0.10.8.6
typing_extensions==4.5.0
urllib3==1.26.15
PyJWT==2.6.0
pylint==2.17.4
